<h1>Groups#index</h1>
<p>Find me in app/views/groups/index.html.erb</p>


<% if @groups.empty? %>
  You don't have any groups! Create one or join one!
<% else %>
  Familes:
  <% @groups.each do |group| %>
    name: <%= group.name %>
  <% end %>
<% end %>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Join Group' %>
