<h3><%= current_user.name %>'s Groups</h3>

<% if @groups.empty? %>
  You don't have any groups! Create one or join one!
<% else %>
  <% @groups.each do |group| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title"><%= group.name %></div>
      </div>
      <div class="panel-body">
        group stuff!
      </div>
    </div>
  <% end %>
<% end %>

<%= link_to 'New Group', new_group_path %>
<%= link_to 'Join Group' %>
