// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-body {
  padding: 10px;
}

.tab-pane.options-tab {
  padding-top: 10px;
}

.clipboard-button {
  cursor: pointer;
}

.panel.col-md-4 {
  padding: 0;
  margin: 0 15px 20px 15px;
  @media (min-width: 992px) {
    width: 31%;
    margin: 0 15px 20px 0;
  }
}
