// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  /*padding-top: 40px;*/
}
@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}

.span3 {
  word-wrap: break-word;
  margin-top: 15px;
}

.list > div {
  padding: 5px;
  border: 1px solid black;
  border-radius: 15px;
}

.list-header {
  text-align: center;
}

.back-to-top {
  text-align: right;
}
