// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list-header {
  text-align: center;
}

.back-to-top {
  text-align: right;
}

.panel.col-md-3 {
  padding: 0;
  margin: 0 15px 20px 15px;
  @media (min-width: 992px) {
    width: 23%;
    margin: 0 15px 20px 0;
  }
}

.page-header {
  margin: 20px 0 20px;
}