.login-header {
  text-align: center;
}

.google-login-button {
  background: image-url("google.png");
  width: 160px;
  height: 54px;
}

.facebook-login-button {
  background: image-url("facebook.png");
  width: 100px;
  height: 46px;
}
