<!DOCTYPE html>
<html>
<head>
  <title>Christmas Lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/google_analytics" if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-inverse navbar-static-top'>
    <div class='container'>
      <div class='navbar-header'>
        <%= link_to 'Christmas Lists', root_url, class: 'navbar-brand' %>
      </div>
    </div>
  </div>

  <div class='container'>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div class='row'>
      <div class="col-md-7 about">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut non lectus sed sapien fermentum convallis in vitae sem. Aliquam erat volutpat. Aliquam commodo imperdiet pretium. Phasellus quis ornare tortor. Suspendisse potenti. Duis eget porttitor dui. Proin ipsum libero, sodales vel aliquam eget, fermentum rutrum mauris. Nam at tincidunt felis.</p>
        <p>Donec semper est sit amet tortor tincidunt, et scelerisque metus pharetra. Nulla facilisi. Praesent magna est, faucibus sed massa sed, vehicula semper felis. Donec tincidunt pulvinar mi ac consequat. Quisque consequat accumsan ligula, nec consequat tortor venenatis in. Aliquam hendrerit, neque suscipit tincidunt faucibus, purus nisl feugiat tellus, non porttitor sem magna id neque. Pellentesque semper quis eros eu auctor. Sed elementum tellus erat, in pretium felis fermentum a. In tincidunt consectetur lorem, eget accumsan nulla dapibus at. Nunc non eleifend neque. Donec a elementum diam. Mauris viverra sollicitudin convallis. Sed eu lacus eget mi euismod pellentesque vitae ut elit.</p>
      </div>
      <div class="col-md-5">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
