<!DOCTYPE html>
<html>
<head>
  <title>Christmas Lists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/google_analytics" if Rails.env.production? %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='navbar navbar-default navbar-static-top'>
    <div class='container'>
      <div class='navbar-header'>
        <%= link_to 'Christmas Lists', root_url, class: 'navbar-brand' %>
      </div>
    </div>
  </div>

  <div class='container'>
    <%= render partial: "shared/flash_messages", flash: flash %>
    <div class='row'>
      <div class="col-md-7 about">
        <p>Christmas Lists is a place to organize your group's Christmas wish lists. You can create a list, add items, and view other group members' lists. Each item can have a description, and an image, so you know that the other member's know exactly what the item is.</p>
        <p>When viewing another group member's list, there are a few things you can do without the owner of that list knowing. You can leave comments for other members to see, or you can mark the item as purchased so that other members know not to purchase it. You can also add items in other member's list without them knowing, in case you found the perfect item for someone and they didn't already have it on their list.</p>
        <p>Someone in your group doesn't have internet access? Not a problem, you can create a list for them. Just create a new list, give it a name, but don't select an owner. This is especially useful if your group is a family and you have young children making wish lists.</p>
        <p>You can login on this page with Google and Facebook integration to make things easy. From there you can either start a new group, or join an existing group (the person who started the group can give you a link).</p>
      </div>
      <div class="col-md-5">
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>
